<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">MyCompany</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active': toggleNav}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu navbar-end" [ngClass]="{'is-active': toggleNav}" >
      <a routerLink="/" class="navbar-item r-item">Home</a>
      <a class="navbar-item r-item">Features</a>
      <a class="navbar-item r-item">About</a>
      <a routerLink="/faq" class="navbar-item r-item">FAQ</a>

      <div class="navbar-item">
        <p class="control">
          <a class="button is-warning is-outlined">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span>Join Now</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer has-background-warning">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>This is the footer which can give you some information.</p>
      </div>
      <div class="column has-text-right">
        <a class="icon has-text-dark" href="#"><i class="fa fa-facebook"></i></a>
        <a class="icon has-text-dark" href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>